// ALIGNMENT
.absolute-center { @include absolute-center; }

.absolute-center-tr { @include absolute-center-tr; }

.hcenter { @include hcenter; }

.vcenter-child { @include vcenter-child; }

// BORDERS
.bordered { border: 1px solid; }
.bordered-bottom { border-bottom: 1px solid; }
.bordered-left { border-left: 1px solid; }
.bordered-right { border-right: 1px solid; }
.bordered-top { border-top: 1px solid; }

.bordered-h {
  border-left: 1px solid;
  border-right: 1px solid;
}
.bordered-v {
  border-bottom: 1px solid;
  border-top: 1px solid;
}

// BUSY
.busy {
  position: relative;

  &::before {
    background-color: rgba($color-white, .9);
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
  }

  &::after {
    @include absolute-center
    color: $color-black;
    content: 'refresh';
    font-size: 3rem;
    height: 3rem;
    width: 3rem;
    z-index: 2;
  }
}

// CLEARFIX
.clearfix { @include clearfix; }

// COLORS (background, border, text)
@each $key, $value in $colors {
  .bg-color-#{$key} { background-color: $value; }
  .border-color-#{$key} { border-color: $value; }
  .text-color-#{$key} { color: $value; }
}

// CONTAINER
.container { @include container; }

// DISPLAYS
.visually-hidden { @include visually-hidden; }

// FONT SIZES
@each $key, $value in $font-sizes {
  .font-size-#{$key} {
    font-size: $value;
  }
}

// LIST
.list-reset { @include list-reset; }

.list-plain { @include list-plain; }

.list-plain-auto {
  @include list-plain;

  li {
    flex-grow: 0;
  }
}

// SPACES
$margins: (
  mt: margin-top,
  mr: margin-right,
  mb: margin-bottom,
  ml: margin-left
);

$paddings: (
  pt: padding-top,
  pr: padding-right,
  pb: padding-bottom,
  pl: padding-left
);

@each $key, $value in $spaces {
  @each $class-prefix, $property in $margins {
    .#{$class-prefix}-#{$key} { #{$property}: $value; }

    .#{$class-prefix}-#{$key}-i { #{$property}: $value !important; }
  }

  .mh-#{$key} {
    margin-left: $value;
    margin-right: $value;
  }

  .mh-#{$key}-i {
    margin-left: $value !important;
    margin-right: $value !important;
  }

  .mv-#{$key} {
    margin-bottom: $value;
    margin-top: $value;
  }

  .mv-#{$key}-i {
    margin-bottom: $value !important;
    margin-top: $value !important;
  }

  .ma-#{$key} { margin: $value; }

  .ma-#{$key}-i { margin: $value !important; }
}

@each $key, $value in $spaces {
  @each $class-prefix, $property in $paddings {
    .#{$class-prefix}-#{$key} { #{$property}: $value; }

    .#{$class-prefix}-#{$key}-i { #{$property}: $value !important; }
  }

  .ph-#{$key} {
    padding-left: $value;
    padding-right: $value;
  }

  .ph-#{$key}-i {
    padding-left: $value !important;
    padding-right: $value !important;
  }

  .pv-#{$key} {
    padding-bottom: $value;
    padding-top: $value;
  }

  .pv-#{$key}-i {
    padding-bottom: $value !important;
    padding-top: $value !important;
  }

  .pa-#{$key} { padding: $value; }

  .pa-#{$key}-i { padding: $value !important; }
}

// TEXT
.text-left { text-align: left; }
.text-center { text-align: center; }
.text-right { text-align: right; }
