// ALIGNMENT
@mixin absolute-center($top: 0, $right: 0, $bottom: 0, $left: 0) {
  bottom: $bottom;
  left: $left;
  margin: auto;
  position: absolute;
  right: $right;
  top: $top;
}

@mixin absolute-center-tr {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

@mixin hcenter {
  margin-left: auto;
  margin-right: auto;
}

@mixin vcenter-child {
  align-content: center;
  display: flex;
}

// CLEARFIX
@mixin clearfix {
  &::before,
  &::after {
    content: '';
    display: table;
  }

  &::after {
    clear: both;
  }
}

// CONTAINER
@mixin container {
  margin-left: auto;
  margin-right: auto;
  max-width: $container-width;
  padding-left: $space-s;
  padding-right: $space-s;
  width: 100%;
}

// DISPLAY
@mixin visually-hidden {
  border: 0 none;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

// LIST
@mixin list-reset {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

@mixin list-plain {
  @include list-reset;
  align-items: center;
  display: flex;

  li {
    flex-grow: 1;
  }
}
