@import '~sass/variables';
@import '~sass/animations';

.todo-list-item {
  box-shadow: 0 1px 2px rgba($color-black, .3);
  position: relative;
  transition: box-shadow $animation-duration-dflt $ease-dflt;

  &:hover {
    box-shadow: 0 4px 8px rgba($color-black, .15);
  }
}

.todo-list-item-completed {
  &::before,
  &::after {
    background-color: $color-grey;
    content: '';
    height: 100%;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 3px;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.todo-list-item-changed {
  animation: fade-out $animation-duration-dflt $ease-dflt forwards;
}

.todo-list-item-actions {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
