<form [formGroup]="form">
  <h1>{{ mode === 'creation' ? 'Add new Todo' : 'Edit Todo' }}</h1>
  <mat-form-field class="field">
    <input
      class="field-title"
      formControlName="title"
      matInput
      placeholder="Title"
      required
      [(ngModel)]="data.title"
      (blur)="onBlur('title')"
    >
  </mat-form-field>
  <ul *ngIf="mode === 'edition'" class="list-reset mv-m">
    <li>Created at {{data.created_at | date: 'dd/MM/yyyy HH:mm:ss'}}</li>
    <li *ngIf="data.modified_at">Modified at {{data.modified_at | date: 'dd/MM/yyyy HH:mm:ss'}}</li>
    <li>
      Status:
      <mat-form-field class="ml-xs">
        <mat-select formControlName="state" required [(ngModel)]="data.completed" (change)="onStateChange()">
          <mat-option [value]="false">Pending</mat-option>
          <mat-option [value]="true">Completed</mat-option>
        </mat-select>
      </mat-form-field>
    </li>
  </ul>
  <mat-form-field class="field">
    <textarea
      formControlName="description"
      matInput
      placeholder="Description"
      [(ngModel)]="data.description"
      (blur)="onBlur('description')"
    ></textarea>
  </mat-form-field>
  <div class="text-right mb-m" *ngIf="mode === 'creation'">
    <button mat-raised-button color="primary" type="submit" (click)="onSubmit()" >Submit</button>
  </div>
</form>